<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>
        <form action="/auth">
            <input type="submit" value="Login with Twitch" />
        </form>
    </body>
</html>