<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" language="javascript">
            $(document).ready(() =>
            {
                const oauthHash = location.hash.substr(1);

                if (!oauthHash)
                    return;

                const accessToken = decodeURIComponent(oauthHash.substr(oauthHash.indexOf('access_token=')).split('&')[0].split('=')[1]);
                const stateString = decodeURIComponent(oauthHash.substr(oauthHash.indexOf('state=')).split('&')[0].split('=')[1]);

                if (!accessToken || !stateString)
                    return;

                let state;
                try
                {
                    state = JSON.parse(stateString);
                }
                catch (e)
                {
                    return;
                }

                if (!state.command)
                    return;

                $("#returnToHome").hide();

                $("#nightbotAddResultText").text("Adding !clips command...");
                $("#nightbotAddResult").show();

                $.ajax(
                {
                    method: "POST",
                    url: "https://api.nightbot.tv/1/commands",
                    data:
                    {
                        "coolDown": "5",
                        "message": state.command,
                        "name": "!clips",
                        "userLevel": "everyone"
                    },
                    headers:
                    {
                        "Authorization": "Bearer " + accessToken
                    }
                }).done(data =>
                {
                    console.log(data);
                });
            });
        </script>
    </head>

    <body>
        <div id="returnToHome">
            <a href="/">Return home</a>
        </div>

        <div id="nightbotAddResult" style="display:none;">
            <p id="nightbotAddResultText"></p>
        </div>
    </body>
</html>
